if NOT EXISTS(
select * from INFORMATION_SCHEMA.TABLES 
where TABLE_NAME = '__EFMigrationsHistory' and TABLE_SCHEMA = 'dbo')
BEGIN

	PRINT 'creating table __EFMigrationsHistory';

	CREATE TABLE [dbo].[__EFMigrationsHistory](
		[MigrationId] [nvarchar](150) NOT NULL,
		[ProductVersion] [nvarchar](32) NOT NULL,
	 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
	(
		[MigrationId] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
	) ON [PRIMARY]
END

if NOT EXISTS( 
select * from INFORMATION_SCHEMA.TABLES 
where TABLE_NAME='dummyTable' and TABLE_SCHEMA = 'dbo')
BEGIN

	PRINT 'creating table dummyTable';

	CREATE TABLE [dbo].[dummyTable](
		[id] [uniqueidentifier] NOT NULL,
		[name] [nvarchar](max) NULL,
	 CONSTRAINT [PK_dummyTable] PRIMARY KEY CLUSTERED 
	(
		[id] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
	) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END