.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  /*background: linear-gradient(135deg, #e0f2ff 0%, #ffffff 100%);*/
  background: #a5b8ef !important;
  padding: 20px;
}

.login-card {
  width: 360px;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-center {
  text-align: center;
  width: 100%;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 20px;
  font-family: Trebuchet MS;
}

.full-width {
  width: 100%;
  margin-bottom: 16px;
  font-family: Trebuchet MS;
}

.login-button {
  padding: 12px;
  font-size: 1.1rem;
  font-weight: 600;
  font-family: Trebuchet MS;
}
.forgot{
  padding-left: 80px;
  color: #0743f5;
}